Classes/99 Coders/Lista Alta Performance/MobileVertScollBox/Frames/__history/
Teste/ListView/__history/
*.png
*.exe
Teste/Android64/Debug/
Sped/Contribuicoes/DeskTop/Fontes/Win64/Debug/uFormat.dcu
Teste/__history/
Teste/ListView/Win64/Debug/
Sped/Contribuicoes/DeskTop/Fontes/Win64/Release/
Sped/Contribuicoes/DeskTop/Fontes/Win64/Debug/
Sped/Contribuicoes/DeskTop/Fontes/Win32/Release/
Sped/Contribuicoes/DeskTop/Fontes/__history/
*.rar
*.FDB
*.txt
*.pdf
*.docx
Projetos/Servidor/Fontes/Rotas/__history/
Projetos/Servidor/Fontes/Modelo de Dados/__history/
*.o
Projetos/Servidor/Fontes/__history/
Projetos/GestaoHoras/Fontes/Modelo de Dados/__history/
*.so
Projetos/GestaoHoras/Fontes/Android64/Release/
Projetos/GestaoHoras/Fontes/Android64/Debug/
Projetos/GestaoHoras/Fontes/Android/Release/
Projetos/GestaoHoras/Fontes/__history/
Lanchonete/Servidor/Fontes/Win64/Release/
Lanchonete/Servidor/Fontes/Win64/Debug/
Lanchonete/Servidor/Fontes/Units/__history/
*.ico
Lanchonete/Servidor/Fontes/Rotas/__history/
Lanchonete/Servidor/Fontes/Modelo de Dados/__history/
Lanchonete/Servidor/Fontes/__history/
*.jpeg
Lanchonete/Servidor/Arquivos/
Lanchonete/DeskTop/Fonte/Win64/Release/
Lanchonete/
Global/
*.SQL
*.jpg
EMail/Fontes/__history/
*.ini
*.zip
*.dll
*.S3DB
Controle Financeiro/App/Fontes/Win64/Release/
Controle Financeiro/App/Fontes/Win64/Debug/
Controle Financeiro/App/Fontes/Win32/Debug/
Controle Financeiro/App/Fontes/Modelo de Dados/__history/
Controle Financeiro/App/Fontes/Android64/Release/
Controle Financeiro/App/Fontes/Android/Release/
Controle Financeiro/App/Fontes/__history/
Controle de Horas/DeskTop/Fontes/Win64/Release/
Controle de Horas/DeskTop/Fontes/Win32/Release/
Controle de Horas/DeskTop/Fontes/Win32/Debug/
Controle de Horas/DeskTop/Fontes/Funcoes/__history/
Controle de Horas/DeskTop/Fontes/Data_Modules/__history/
Controle de Horas/DeskTop/Fontes/__history/
Controle de Horas/App/Fontes/Win64/Release/
Android/Release/
Android64/Release/
Classes/99 Coders/
Classes/Horse/
Controle de Horas/App/Fontes/__history/
Controle de Horas/App/Fontes/Android64/Debug/
Controle de Horas/App/Fontes/Android64/Release/
Controle de Horas/App/Fontes/DataModulo/__history/
Controle de Horas/App/Fontes/Frame/__history/
Controle de Horas/App/Fontes/Units/__history/
Controle de Horas/App/Fontes/Win64/Debug/
EMail/Fontes/35150905481336000137550010000111291000111298-nfe.xml
EMail/
Teste/
Win64/
Projetos/Classes/
Projetos/README.md
Projetos/Project1.identcache
Projetos/Project1.res
projetos/Controle de Horas/Servico/__history/
projetos/Controle de Horas/Servico/Rotas/__history/
*.log
projetos/Controle de Horas/Web/Fontes/ControleHoras/__history/
projetos/Exemplos/
.tmp.driveupload/
projetos/Controle de Horas/Web/Fontes/Gerenciador/__history/
*.lib
projetos/Controle de Horas/Web/Fontes/__history/
projetos/Controle de Horas/Web/Fontes/Financeiro/__history/
projetos/Controle de Horas/Web/Fontes/FinanceiroWeb/__history/
.tmp.drivedownload/68675.1738186528474259
.tmp.drivedownload/68675.1738187538620806
WEB/Gestao Financeira/Exemplos/AplePro8/__history/
WEB/Gestao Financeira/Exemplos/AplePro8/
WEB/Gestao Financeira/Exemplos/Argon/
WEB/Gestao Financeira/Exemplos/DarkPan/
WEB/Gestao Financeira/Exemplos/Material_Dashboard/
WEB/Gestao Financeira/Exemplos/Material_Dashboard_B/
WEB/Gestao Financeira/Exemplos/Mazer/
WEB/Gestao Financeira/Exemplos/Modernize/
WEB/Gestao Financeira/Exemplos/Nalika/
WEB/Gestao Financeira/Exemplos/Nice_Admin/
WEB/Gestao Financeira/Exemplos/Snead/
WEB/Gestao Financeira/Exemplos/UI_Dashboard/
WEB/Gestao Financeira/Fontes/__history/
WEB/Gestao Financeira/Fontes_/
WEB/Service/Fontes/__history/
WEB/Service/Fontes/Modelo_Dados/__history/
WEB/Service/Fontes/Rotas/__history/
WEB/99Coders/Produtos/Fontes/__history/
WEB/99Coders/Produtos/Fontes/dcu/Win32/D2Bridge Web Debug/
WEB/Gestao Financeira/Fontes/dcu/Win32/D2Bridge Web Debug/
WEB/Gestao Financeira/Fontes/Web/wwwroot/Reports/
