D2Bridge_Lang_pt_BR RCDATA "lang\\pt-BR.json"
D2Bridge_Lang_en_US RCDATA "lang\\en-US.json"
D2Bridge_Lang_it_IT RCDATA "lang\\it-IT.json"
D2Bridge_Lang_ar_SA RCDATA "lang\\ar-SA.json"
D2Bridge_Lang_es_ES RCDATA "lang\\es-ES.json"
D2Bridge_Lang_fr_FR RCDATA "lang\\fr-FR.json"
D2Bridge_Lang_de_DE RCDATA "lang\\de-DE.json"
D2Bridge_Lang_ja_JP RCDATA "lang\\ja-JP.json"
D2Bridge_Lang_ru_RU RCDATA "lang\\ru-RU.json"
D2Bridge_Lang_zh_CN RCDATA "lang\\zh-CN.json"
D2Bridge_Lang_cs_CZ RCDATA "lang\\cs-CZ.json"
D2Bridge_Lang_tr_TR RCDATA "lang\\tr-TR.json"
D2Bridge_Lang_ko_KR RCDATA "lang\\ko-KR.json"
