PRISM_Support_Assets_JS_PrismServer RCDATA "support\\assets\\js\\prismserver.js"
PRISM_Support_Assets_JS_D2BridgeLoader RCDATA "support\\assets\\js\\d2bridgeloader.js"
PRISM_Support_Assets_JS_JQGrid RCDATA "support\\assets\\js\\jquery.jqgrid.min.js"
PRISM_Support_Assets_JS_JQInputMask RCDATA "support\\assets\\js\\jquery.inputmask.js"
PRISM_Support_Assets_JS_JQuery_3_6_4 RCDATA "support\\assets\\js\\jquery-3.6.4.js"
PRISM_Support_Assets_JS_SweetAlert2 RCDATA "support\\assets\\js\\sweetalert2.js"
PRISM_Support_Assets_CSS_D2Bridge RCDATA "support\\assets\\css\\d2bridge.css"
PRISM_Support_Assets_CSS_JQGrid RCDATA "support\\assets\\css\\ui.jqgrid-bootstrap5.css"
PRISM_Support_Assets_CSS_SweetAlert2 RCDATA "support\\assets\\css\\sweetalert2.css"
PRISM_Support_HTML_Error500 RCDATA "support\\html\\error500.html"
PRISM_Support_HTML_Error429 RCDATA "support\\html\\error429.html"
PRISM_Support_HTML_Error403blacklist RCDATA "support\\html\\error403blacklist.html"
PRISM_Support_Core_Variables RCDATA "support\\core\\variables.html"
PRISM_Support_Core_SetConnection RCDATA "support\\core\\setconnection.html"
PRISM_Support_Core_PrismWS RCDATA "support\\core\\prismws.html"
PRISM_Support_Core_PrismMethods RCDATA "support\\core\\prismmethods.html"
PRISM_Support_Core_CallbackPrismMethods RCDATA "support\\core\\callbackprismmethods.html"
PRISM_Support_Core_D2BridgeKanban RCDATA "support\\core\\d2bridgekanban.html"
PRISM_Support_Security_UserAgent RCDATA "support\\security\\UserAgent\\crawler-user-agents.json"
PRISM_Support_Security_IPv4Blacklist RCDATA "support\\security\\IPv4Blacklist\\drop_v4.json"

